body {
  height: 100vh;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

#root {
  height: 100%;
  background-color: #FBFCFD;
}

.profile,
.main-links {
  border-bottom: 1px solid #e5e5e5;
}

.isHidden {
  display: none;
}

.isVisible {
  display: block;
}

.arrowToggle {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.navSection {
  padding: 20px;
}

.navWrapperDiv {
  display: flex;
  align-items: center;
}

/* .navWrapperDiv:hover {
  color: orange;
  text-decoration: none;
} */